
// all variables in web-site



// varibles of fonts
$main-font: 'El Messiri', sans-serif;


// variables of colors
$main-color : #1d1d1d;
$sec-color : #285545;
$font-color: #006c45;


// variables of float 
$floar-right: right;
$floar-left: left;


// variables of direction
$Ar-directions: rtl;
$En-directions: ltr;

