include ../home-page/Header_Categories/mixin_categories.pug

+styleSheet_categories("  تأكيد الباسورد")
link(rel="stylesheet", href="../../css/Admin_Pages/Admin.css")


// strat pass_required_page
.pass_required_page
    h3 تأكيد الباسورد لتعديل بيانات الحساب الخاص بك
    .pass_info
        .pass_required_header
            h4 ادخل الباسورد الخاص بك!  
        form(action="user_page.html")
            .form-group.col-md-8
                input.form-control.form_acion(type='password' placeholder="الباسورد" required) 
            .edit_button
            button.btn.btn_form.btn-lg.btn-block.btn_pass_req(type='submit') تأكيد     

// end pass_required_page
+scripts
script(src='../../js/admin_pages/password_confirm.js')  
