
// link of bootstrab css
link(rel="stylesheet", href="../css/bootstrap.min.css")

// link of fontawsem 
link(rel="stylesheet", href="../css/all.min.css")

// link of hover libaray     
link(rel="stylesheet", href="../css/hover-min.css")


// link of main css
link(rel="stylesheet", href="../css/main.css")






// links of fonts
<link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">